body {
  background-color: #CCF2F4;
}

hr {

  border-style: dotted none none;
  background-color:#EAF6F6;
  border-color: #BBBBBB;
  border-width: 5px;
  width: 5%;
  height: 0;

}
h1{
  color:#15B7B9;
}
h3{
  color:#66BFBF;
}
th{
  color: #98ACF8;
}
p{
  color: #4A266A;
}
